body {
  padding: 50px;
  background-color: #66ccff;
  font-family: sans-serif;
}

#root {
  /* display: flex;
  justify-content: flex; */
  width: 300px;
  height: 500px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}
