.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 40vh;
  font-size: 2rem;
}

body {
  background-color: skyblue;
}

@media only screen and (max-width: 550px) {
  .App {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 300px) {
  .App {
    font-size: 1rem;
  }
}
